@charset "utf-8";
/* CSS Document */
#main-nav{
	float:right;
	margin-top:45px;
	margin-right:12px;
}
#main-nav a{
	text-decoration: none;
	margin-right: 145px;
	color: #F39C00;
}
.left .mask{
	width: 300px;
	padding-left:105px;
	float:left;
}

.left a{
	text-decoration: none;
	display:block;
	margin-bottom:15px;
}

.left-visible{
	position:fixed;
	top:0;
	text-align: center;
	width: 300px;
	padding-top: 61px;
	float:left;
}
.left{
	position:absolute;
    -webkit-mask-image: linear-gradient(black, black);
    mask-image: linear-gradient(black, black);
	width: 18%;
	padding-top: 61px;
	padding-left:105px;
	float:left;
	height: 623px;
	top:0;
	overflow:hidden;
}
.left-top{
	text-align: center;
	width: 300px;
	padding-top: 61px;
	padding-left:105px;
	float:left;
	position:fixed;
	top:0;
}
.left-top a{
	text-decoration: none;
	display:block;
	margin-bottom:15px;
}
	
.right{
    float: right;
    width: 657px;
    margin-right: 87px;
    margin-top: 70px;
    position: absolute;
    right: 0;
}
.right img{
	position:absolute;
	bottom:0;
	right:0;
}


h1{
	font-size: 40px;
}
h2{
	font-size: 24px;
	font-weight: normal;
	margin-block-start: 0;
    margin-block-end: 0;
}
.three-text{
	padding-left: 30px;
	position:relative;
}
.three-text div{
	width:179px;
	display:inline-block;
	vertical-align:top;
	padding-right: 30px;
	padding-bottom:210px;
	position:relative;
	float:left;
	line-height: 19px;
}
.three-text-first div{
	width:179px;
	display:inline-block;
	vertical-align:top;
	padding-right: 30px;
	padding-bottom:46px;
	position:relative;
	float:left;
	line-height: 19px;
}
.three-text-first{
	padding-left: 30px;
	position:relative;
}
.arrow{
	margin-top:50px;
}
.logo{
	margin-bottom:100px;
}
.text-block{
	float:left;
	position:relative;
	height:inherit;
	padding-bottom:60px;
}
.one-big-text{
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 90px;
	line-height: 24px;
}
.one-text{
	font-size: 16px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
	line-height: 19px;
}
body{
	margin: 0px;
	padding-left: 0px;
}

.deep-purple{
	background-color: #2D1E4A;
	overflow-y:clip;
}
.dark-purple{
	background-color: #42276C;
	overflow-y:clip;
}
.light-purple{
	background-color: #572D85;
	overflow:clip;
}
.surface-purple{
	background-color: #603E8F;
	overflow:clip;
}
.green{
	background-color: #009E7C;
	overflow:clip;
}
.yellow{
	background-color: #F39C00;
	overflow:clip;
}
.red{
	background-color: #D60060;
	overflow:clip;
}

.side-nav-deep-purple a{
	color:#009E7C;
}
.side-nav-dark-purple a{
	color:#009E7C;
}
.side-nav-light-purple a{
	color:#009E7C;
}
.side-nav-surface-purple a{
	color:#009E7C;
}
.side-nav-green a{
	color:#2D1E4A;
}
.side-nav-yellow a{
	color:#2D1E4A;
}
.side-nav-red a{
	color:#2D1E4A;
}

.deep-purple .text-block{
	color: #F39C00;	
}
.dark-purple .text-block{
	color: #F39C00;	
}
.light-purple .text-block{
	color: #F39C00;	
}
.surface-purple .text-block{
	color: #F39C00;	
}
.green .text-block{
	color: #2D1E4A;	
}
.yellow .text-block{
	color: #2D1E4A;	
}
.red .text-block{
	color: #2D1E4A;	
}
